body
  background-color rgba(55,55,55,.2)

h1,h2,h3,h4,h5,p
  font-family Helvetica, sans-serif

nav
  p
    cursor pointer
    color rgba(30,30,30,1)
    display inline
    margin 10px 5px
    &:hover
      color rgba(85,85,85,1)
  .active
    color red
    &:hover
      color red
